@model OnlineShoppingApp.Models.Product



<h1>InsertNewProduct</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertNewProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group"><label class="control-label">Enter Image Url:</label>
                <div id="imageUrlsContainer">
                    <div class="input-group mb-2">
                    <input type="text" class="form-control" name="ImageUrl" />
                    <div class="input-group-append"><button type="button" class="btn btn-danger remove-url">Remove</button></div>
                    </div>
                </div>
                    <button type="button" class="btn btn-primary mt-2" id="addImageUrl">Add Image Url</button>
            </div>
            <div class="form-group">
                <label asp-for="categoryId" class="control-label"></label>
                <select asp-for="categoryId" class="form-control" asp-items="@ViewBag.category"></select>
            </div>
            <div class="form-group">
                <label asp-for="brandId" class="control-label"></label>
                <select id="brandSelect" class="form-control" name="brandId">
                    @foreach (var brand in ViewBag.brand)
                    {
                        <option value="@brand.Value">@brand.Text</option>
                    }
                    <option value="@int.Parse("-1")">Other</option>
                </select>
                <div class="form-group" id="otherBrandGroup" style="display:none;">
                    <label for="otherBrand" class="control-label">Enter Your Brand Name</label>
                    <input type="text" id="otherBrand" class="form-control" name="otherBrand" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script> *@

    <script>
        $(document).ready(function () {
            $('#brandSelect').change(function () {
                if ($(this).val() == '@int.Parse("-1")') {
                    $('#otherBrandGroup').show();
                } else {
                    $('#otherBrandGroup').hide();
                }
            });
        });


        $(document).ready(function () {     
            
            
            // Add new image URL input field  
             $('#addImageUrl').click(function () { 
                 var inputField = '<div class="input-group mb-2">' +         
                 '<input type="text" class="form-control" name="ImageUrl" />' +     
                 '<div class="input-group-append">' +                              
                 '<button type="button" class="btn btn-danger remove-url">Remove</button>' +  
                 '</div>' +                      
                 '</div>';        
                 $('#imageUrlsContainer').append(inputField);     });  
                 // Remove image URL input field   
                 $(document).on('click', '.remove-url', function () {  
                     $(this).closest('.input-group').remove();  
                 });
             });

    </script>



}

